input {
    border: 1px solid white;
    padding: 12px;
    font-size: 16px;
    height: 26px;
    border-radius: $base-radius;
    background-color: #1a1a1a;
    color: white;
}

input:focus {
    outline: none;
}